@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Desktop View */
@media (min-width: 900px) {
/* Navbar */
  .navbar {
      height: 110px;
      border-bottom: 1px solid;
      font-family: 'Rubik', sans-serif;
  }
  .brand {
      margin-left: 90px;
      font-weight: bold;
  }
  .brand img {
      margin-right: 10px;
  }
  .navbar-right {
      margin-right: 120px;
  }
  .navbar-right a {
      text-decoration: unset;
  }
  .button-chat {
      position: relative;
      padding: 0px;
      padding-right: 12px;
  }
  .badge-chat {
      position: absolute;
      left: 7px; 
      /* top: -10px; */
      /* padding-bottom: 5px; */
      /* /* margin-bottom: 20px; */
      /* margin-right: 5px; */
  }
  .icon-chat {
      position: relative;
      top: 6px;
  }
  /* .nav-ava {
      padding: 0px 8px;
  } */
}
